<%# app/views/devise/mailer/reset_password_instructions.html.erb %>
<p>こんにちは、<%= @resource.email %> さん。</p>

<p>パスワードの再設定リクエストを受け付けました。<br>
以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストにお心当たりがない場合は、このメールを無視してください。<br>
リンクをクリックしない限り、パスワードは変更されません。</p>